node_modules
.DS_Store
*.log
.env
.env.*
!.env.example

apps/cms/.tmp/
apps/cms/.strapi/
apps/cms/dist/
apps/cms/build/
apps/cms/public/uploads/

apps/web/.nuxt
apps/web/.output
apps/web/dist

.cursor/
.idea/
.vscode/
*.local
